/*定义变量*/
* {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
img {
  /* 解决图标3px的问题 */
  vertical-align: middle;
}
/*头部公共样式*/
#header {
  background-color: #006699;
  padding-left: .45rem;
  padding-right: .45rem;
  display: flex;
  position: fixed;
  height: .45rem;
  color: #fff;
  z-index: 999;
}
#header h4 {
  width: 2.85rem;
  text-align: center;
  line-height: .45rem;
  font-weight: normal;
  margin: 0;
}
#header a {
  width: .45rem;
  height: .45rem;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: .45rem;
  color: #fff;
}
/*主页导航条的样式*/
#nav {
  padding: .1rem;
}
#nav ul {
  display: flex;
  flex-wrap: wrap;
}
#nav ul li {
  width: 33.33%;
}
#nav ul li a {
  display: block;
}
#nav ul li a img {
  width: 100%;
}
/*广告区域*/
#banner {
  display: flex;
  padding: .1rem;
}
#banner .banner-left {
  width: 2.3667rem;
  height: 2.4rem;
}
#banner .banner-left a {
  display: flex;
}
#banner .banner-left a img {
  width: 50%;
  height: 1.2rem;
}
#banner .banner-right {
  width: 1.833rem;
  height: 2.4rem;
}
#banner .banner-right a {
  display: block;
}
#banner .banner-right a img {
  width: 100%;
  height: 2.4rem;
}
/*品牌专区区域*/
#brand {
  padding: .1rem;
}
#brand .title a {
  display: block;
}
#brand .title a img {
  width: 100%;
}
#brand .content ul {
  display: flex;
  flex-wrap: wrap;
}
#brand .content ul li {
  width: 25%;
}
#brand .content ul li a {
  display: block;
}
#brand .content ul li a img {
  width: 100%;
}
/*活动专区*/
#sport,
#women,
#man {
  padding: .1rem;
}
#sport .title a,
#women .title a,
#man .title a {
  display: block;
}
#sport .title a img,
#women .title a img,
#man .title a img {
  width: 100%;
}
#sport .content ul,
#women .content ul,
#man .content ul {
  display: flex;
  flex-wrap: wrap;
}
#sport .content ul li,
#women .content ul li,
#man .content ul li {
  width: 50%;
}
#sport .content ul li a.product,
#women .content ul li a.product,
#man .content ul li a.product {
  margin-top: 10px;
  background-color: #fff;
  text-align: center;
  display: block;
  box-shadow: 0px 0px 2px hotpink;
  overflow: hidden;
}
#sport .content ul li a.product .product-img,
#women .content ul li a.product .product-img,
#man .content ul li a.product .product-img {
  width: 100%;
}
